body {
  font-family: sans-serif;
  min-height: 100vh;
}

.grid {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body,
.overview {
  height: 100vh;
  overflow: hidden;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Grid Scale */
.grid {
  display: flex;

  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.link {
  position: relative;
  display: block;
  transition: transform 500ms;
}

/* WebGL Rollover */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: -1;
  pointer-events: none;
}

.link img {
  display: none;
}

.grid img {
  width: 100%;
}

.grid > * {
  position: relative;
  z-index: 1;
  transition: transform 500ms;
  transform-origin: 100% 50%;
}

.grid .numb {
  font-size: 13vw;
  font-family: "Maelstrom Sans Test", sans-serif;
  line-height: 12vw;
  display: block;
  color: #222;
}

.active {
  transform: scale(1.85);
}

.before {
  transform: translateY(-42.5%);
}

.after {
  transform: translateY(42.5%);
}

@media screen and (min-width: 800px) {
  .overview {
    justify-content: center;
    align-items: flex-end;
  }

  .grid {
    flex-direction: row;
  }

  .grid > * {
    transform-origin: center bottom;
    width: 11%;
    padding-right: 0.6vw;
  }

  .before {
    transform: translateX(-42.5%);
  }

  .after {
    transform: translateX(42.5%);
  }
}

.title-w {
  position: fixed;
  top: 2rem;
  left: 2rem;
}
